# 质数

In [20]:
min_num = int(input('最小值：'))
max_num = int(input('最大值：'))

def prime(min,max):
    list1 = []
    for i in range(min,max+1):
        if i == 2:
            list1.append(i)
            pass
        for j in range(2,i):
            if i % j == 0:
                break
            elif j == i-1:
                list1.append(i)
    return list1

最小值：1
最大值：30
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
None

# 三角形

In [23]:
rows = int(input())
for i in range(1,rows):
    print('#'*i)

10
#
##
###
####
#####
######
#######
########
#########

# 金字塔

In [54]:
x = 10
y = x
for i in range(1,2*x+3,2):
    print(' '*y,'*'*i,' '*y)
    y -= 1

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************

# 菱形

In [51]:
x = 10
y = x
for i in range(1,2*x+3,2):
    print(' '*y,'*'*i,' '*y)
    y -= 1
y = 1
for i in range(2*x-1,0,-2):
    print(' '*y,'*'*i,' '*y)
    y += 1

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
  *******************
   *****************
    ***************
     *************
      ***********
       *********
        *******
         *****
          ***
           *

# 杨辉三角
1
11
121
1331
14641

In [68]:
list1 = []
list2 = []
list3 = []
for n in range(9):
    list1.append(1)
    if n == 1:
        list1.append(1)
    elif n > 1:
        for m in range(n-1):
            i = list2[m]+list2[m+1]
            list1.append(i)
        list1.append(1)
    list2 = list1[:]
    list3.append(list2)
    list1.clear()
print(list3)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1], [1, 6, 15, 20, 15, 6, 1], [1, 7, 21, 35, 35, 21, 7, 1], [1, 8, 28, 56, 70, 56, 28, 8, 1]]